@import 'tailwindcss';
body{
    font-family: "Roboto", sans-serif;
}
@theme {
 --color-primary: #1565C0;
--color-secondary: #43A047;
--color-accent: #FAFAFA;
--color-myblack: black;
--color-mywhite: white;
}
