@import 'tailwindcss';
body{
    font-family: "Poppins", sans-serif;
}
@theme {
 --color-primary: #4AB0A3;
--color-secondary: #E57E3A;
--color-accent: #2C7C6A;
--color-myblack: black;
--color-mywhite: white;
}
